app-header
.container
	.row
		.col
			h1 Hello User
			pre {{authenticationService.user | json}}
	.row
		.col
			h2 All Users
			p("*ngFor"="let item of users") {{item.email}}
			h2 All Users Async
			p("*ngFor"="let item of onlyAs | async") {{item.email}}
			//- p("*ngFor"="let item of onlyBs | async") {{item.email}}
			//- p("*ngFor"="let item of (raw | async).list") {{item.email}}
			//- pre {{(raw | async) | json}}